<div class="container">
    <div class="row">
        <div class="row d-flex col-12">
            <h1 class="text-center pt-3 col-12 mb-5">IntershipTest Lapan Pavlo with AngularJs</h1>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <form action="">
                    <h4>Список студентів:</h4>
                    <ol>
                        <li class="m-1" ng-repeat="students in students.students"><span>{{students.student}}</span> : knowledge is - <span>{{students.knowledge}}</span><button type="button" class="btn btn-danger ml-2" ng-click="students.removeItem(item)">Delete</button></li>
                    </ol>
                </form>
            </div>

            <div class="col-6 form-group">
                <form action="">
                    <h4>Список студентів на інтернатурі:</h4>
                    <ol>
                        <li class="m-1" ng-repeat="students in students.students | filter : 'Upper' : true"><span>{{students.student}}</span> : knowledge is - <span>{{students.knowledge}}</span></li>
                    </ol>
                </form>
            </div>
        </div>
    </div>
</div>
